body {
    padding:0;
    margin:0;
    max-width: 500px;
    background-color: #2A2C29;
    background: url('bg.jpg');
    background-size: cover;
}

.container {
    
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.logo img{
    width:500px;
}

.btn {
    display: inline-block;
    width:60px;
    height:80px;
    /* background:rgb(245, 245, 245);*/
    border-radius:30%;
    /* box-shadow: 0 5px 15px -5px #00000070;*/
    color:rgb(153, 146, 43);
    overflow: hidden;
    position: relative;
}

.btn i{
    line-height:70px;
    font-size:30px;
    transition: 0.2s;
}

.btn:hover i{
    transform: scale(1.4);
    color:#fef254;
}

.social {
    padding-top:20px;
}

@media (max-width: 500px) {
    .logo img{
        width:100%;
    }

}
